<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- SECURITY CONSTRAINT #1 admin -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>adminpages</web-resource-name>
            <url-pattern>/admin.html</url-pattern>
            
        </web-resource-collection>
        
        
        <auth-constraint>
            <description>Administrator url</description>
            <role-name>admin</role-name>
        </auth-constraint>
        
    </security-constraint>
    
        <!-- SECURITY CONSTRAINT #2 user -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>userpages</web-resource-name>
             <url-pattern>/user.html</url-pattern>
        </web-resource-collection>
       
        
        <auth-constraint>
            <description>User url</description>
            <role-name>user</role-name>
        </auth-constraint>
        
    </security-constraint>
    
    <login-config>
        <auth-method>FORM</auth-method> <!-- Change to BASIC for basic authentication -->
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>
    
</web-app>


